@using JavaFlorist.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@model JavaFlorist.Models.DTO.RelatedModel;
@inject UserManager<ApplicationUser> UserManager;
@{
	int? id = 0;
	string username = User.Identity.Name;
	if (!string.IsNullOrEmpty(username))
	{
		var user = await UserManager.FindByNameAsync(username);
		if (user != null)
			id = user.cust_id;

	}
    ViewBag.Title = "Detail";
	
}


<div class="hero-wrap hero-bread" style="background-image: url('/BG/8.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
				<h1 class="mb-0 bread">Product Single</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 ftco-animate">
				<a href="/Uploads/@Model.Bouquet.bouquetImage" class="image-popup"><img src="/Uploads/@Model.Bouquet.bouquetImage" class="img-fluid"></a>
			</div>
			
			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
				<h3>@Model.Bouquet.name</h3>
				<div class="rating d-flex">

					<p class="text-left">
						<a href="#" class="mr-2" style="color: #000;">@Model.Bouquet.sold <span style="color: #bbb;">Sold</span></a>
					</p>
				</div>
				<p class="price"><span>$@Model.Bouquet.price</span></p>
				<p>@Model.Bouquet.description</p>
				<form asp-action="AddToCartd" asp-controller="Cart" method="post">
					<input type="hidden" value="@id" name="cust_id" />
					<input type="hidden" value="@Model.Bouquet.bouquet_id" name="bouquetId" />
				<div class="row mt-4">
					<div class="col-md-6">
						
					</div>
					
					<div class="w-100"></div>
					<div class="input-group col-md-6 d-flex mb-3">
						<span class="input-group-btn mr-2">
							<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
								<i class="ion-ios-remove"></i>
							</button>
						</span>
						<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
						<span class="input-group-btn ml-2">
							<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
								<i class="ion-ios-add"></i>
							</button>
						</span>
					</div>
					<div class="w-100"></div>
					
				</div>
					<button type="submit" class="btn btn-info " style="color:#ffffff;background :#000 !important;border-radius:5px">Add to Cart</button>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">Products</span>
				<h2 class="mb-4">Related Products</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			@foreach(var related in Model.RelatedBouquets)
			{
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Uploads/@related.bouquetImage" >
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">@related.price</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="price-sale">$@related.price</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
			
		</div>
	</div>
</section>
