@using JavaFlorist.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@model List<JavaFlorist.Models.DTO.HomeModel>;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "Home";
    ViewBag.Index = 1;
    int? id = 0;
    string username = User.Identity.Name;
    if (!string.IsNullOrEmpty(username))
    {
        var user = await UserManager.FindByNameAsync(username);
        if (user != null)
            id = user.cust_id;

    }
}





<!--  Begin Slider -->
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Free Shipping</h3>
                        <span>For all orders</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <img src="/img/1232.jpg" style="width:100px;height:100px;"/>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Always Fresh</h3>
                        <span>Beautiful bouquet</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Superior Quality</h3>
                        <span>Quality Products</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Support</h3>
                        <span>24/7 Support</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End Slider -->
<!--  Begin  -->

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Count > 0 && Model[0].topFiveProducts != null && Model[0].topFiveProducts.Count >= 5)
            {
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 order-md-last align-items-stretch d-flex">
                            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
                                 style="background-image: url(/Uploads/@Model[0].topFiveProducts[0].bouquetImage)">
                                <div class="text text-center">
                                    <h2>Flowers</h2>
                                    <p>gift to someone you love</p>
                                    <p><a href="/Shop/Shop" class="btn btn-primary mb-5">Shop now</a></p>
                                    <p><a href="/Shop/FilterByCategory?category=@Model[0].topFiveProducts[0].category" class="btn btn-primary">@Model[0].topFiveProducts[0].category</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                                 style="background-image: url(/Uploads/@Model[0].topFiveProducts[1].bouquetImage
)">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="/Shop/FilterByCategory?category=@Model[0].topFiveProducts[2].category">@Model[0].topFiveProducts[1].category</a></h2>
                                </div>
                            </div>
                            <div class="category-wrap ftco-animate img d-flex align-items-end"
                                 style="background-image: url(/Uploads/@Model[0].topFiveProducts[2].bouquetImage
)">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="/Shop/FilterByCategory?category=@Model[0].topFiveProducts[2].category">@Model[0].topFiveProducts[2].category</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                  
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                         style="background-image: url(/Uploads/@Model[0].topFiveProducts[3].bouquetImage
)">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="/Shop/FilterByCategory?category=@Model[0].topFiveProducts[3].category">@Model[0].topFiveProducts[3].category</a></h2>
                        </div>
                    </div>
                    
                    <div class="category-wrap ftco-animate img d-flex align-items-end"
                         style="background-image: url(/Uploads/@Model[0].topFiveProducts[4].bouquetImage
)">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="/Shop/FilterByCategory?category=@Model[0].topFiveProducts[4].category">@Model[0].topFiveProducts[4].category</a></h2>
                        </div>
                    </div>

                </div>
            }
           
        </div>
    </div>
</section>
<!--  End  -->
<!--  Begin  -->

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Typical Products</span>
                <h2 class="mb-4">Our Products</h2>
                <p>
                    Enough sunshine, flowers will bloom, enough wind, enough pinwheels will spin, enough love and happiness will be abundant
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Count > 0 && Model[0].topProducts != null && Model[0].topProducts.Count > 0)
            {
                @foreach (var item in Model[0].topProducts)
                {
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="/Shop/ShopDetail?bouquet_id=@item.bouquet_id" class="img-prod">
                                <img class="img-fluid"
                                     src="/Uploads/@item.bouquetImage" style="height:300px;" />
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="#">@item.name</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price">
                                          <span class="price-sale">$@item.price</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="/Cart/AddToCart?bouquetId=@item.bouquet_id&cust_id=@id"
                                           class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <a href="/Wishlist/Add?cust_id=@id&bouquet_id=@item.bouquet_id"
                                           class="heart d-flex justify-content-center align-items-center">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
           
           
           
        </div>
    </div>
</section>
<!--  End  -->



