@model List<JavaFlorist.Models.DTO.HomeModel>;
@{
    ViewBag.Title = "Home";
    ViewBag.Index = 1;
}





<!--  Begin Slider -->
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Free Shipping</h3>
                        <span>On order over $100</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Always Fresh</h3>
                        <span>Product well package</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Superior Quality</h3>
                        <span>Quality Products</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Support</h3>
                        <span>24/7 Support</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End Slider -->
<!--  Begin  -->

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Count > 0 && Model[0].topFiveProducts != null && Model[0].topFiveProducts.Count > 5)
            {
                <div class="col-md-8">
                    <div class="row">


                        <div class="col-md-6 order-md-last align-items-stretch d-flex">
                            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
                                 style="background-image: url(/Uploads/@Model[0].topFiveProducts[0].bouquetImage ??
)">
                                <div class="text text-center">
                                    <h2>Flowers</h2>
                                    <p>gift to someone you love</p>
                                    <p><a href="/Shop/Shop" class="btn btn-primary">Shop now</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                                 style="background-image: url(/Uploads/@Model[0].topFiveProducts[1].bouquetImage
)">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">@Model[0].topFiveProducts[1].category</a></h2>
                                </div>
                            </div>
                            <div class="category-wrap ftco-animate img d-flex align-items-end"
                                 style="background-image: url(/Uploads/@Model[0].topFiveProducts[2].bouquetImage
)">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">@Model[0].topFiveProducts[2].category</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                         style="background-image: url(/Uploads/@Model[0].topFiveProducts[3].bouquetImage
)">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">@Model[0].topFiveProducts[3].category</a></h2>
                        </div>
                    </div>
                    <div class="category-wrap ftco-animate img d-flex align-items-end"
                         style="background-image: url(/Uploads/@Model[0].topFiveProducts[4].bouquetImage
)">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">@Model[0].topFiveProducts[4].category</a></h2>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>
<!--  End  -->
<!--  Begin  -->

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Typical Products</span>
                <h2 class="mb-4">Our Products</h2>
                <p>
                    Far far away, behind the word mountains, far from the countries
                    Vokalia and Consonantia
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Count > 0 && Model[0].topProducts != null && Model[0].topProducts.Count > 0)
            {
                @foreach (var item in Model[0].topProducts)
                {
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="#" class="img-prod">
                                <img class="img-fluid"
                                     src="/Uploads/@item.bouquetImage" />
                                <span class="status">30%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="#">@item.name</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price">
                                            <span class="mr-2 price-dc">$@item.quantity </span><span class="price-sale">$@item.price</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="#"
                                           class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a href="#"
                                           class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <a href="#"
                                           class="heart d-flex justify-content-center align-items-center">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
           
           
           
        </div>
    </div>
</section>
<!--  End  -->



