@model JavaFlorist.Models.DTO.BouquetListVm;
@{
    ViewData["Title"] = "ShopList";
    Layout = "~/Areas/Admin/Views/Shared/_AdLayout.cshtml";
}

<div class="container-fluid">

    <div class="row">
      
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4" style="margin-top:80px;">
                    <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
                    <a href="/Admin/Shop/Add" class="btn btn-primary">Add</a>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Id</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Thumnail</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Name</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Category</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Quantity</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Price</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Sold</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0 px-5">Action</h6>
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                  
                                @foreach(var item in Model.BouquetList)
                                {
                                    <tr>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">1</h6></td>
                                        <td class="border-bottom-0">
                                           <img style="height:30px;width:30px;" src="/Uploads/@item.bouquetImage"/>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">@item.name</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">@item.category</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">@item.quantity</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0 fs-4">$@item.price</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="badge bg-primary rounded-3 fw-semibold">@item.sold</span>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <a href="/Admin/Shop/Edit?id=@item.bouquet_id" class="btn btn-info">Edit</a>
                                            <a  onclick="return window.confirm('Are you want delete bouquet have name @item.name ')" href="/Admin/Shop/Delete?id=@item.bouquet_id" class="btn btn-danger">Delete</A>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                         @if (TempData["msg"] != null)
                            {
                                <div class="alert alert-success mt-3" role="alert">
                                    @TempData["msg"]
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

